
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content" style="height: 100vh; padding: 0 !important;">
            @Body
        </article>
    </main>
</div>
