@page "/Second"


<div class="m-3 m-3 m-3 m-3" style="direction: rtl;">

    <div class="mt-5 ">
        <div class="m-auto d-flex justify-content-center align-items-center" style="font-size: 18px;width: 500px; height: 80px; background-color : lightgray;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
            این صفحه در حال آماده سازی است.
        </div>
        @{Console.WriteLine("lsjdflsdjflsjdf");}
        @{Console.WriteLine("lsjdflsdjflsjdf");}
        @{Console.WriteLine("lsjdflsdjflsjdf");}
        @{Console.WriteLine("lsjdflsdjflsjdf");}
    </div>
    @{Console.WriteLine("FeatureB");}
</div>

@code {

    // var option = {
    //    title: {
    //        text: 'چارت میله ای',
    //    },
    //    textStyle: {
    //        fontFamily: 'Iranian Sans'
    //    },
    //    tooltip: {
    //        trigger: 'item',
    //        axisPointer: {
    //            type = AxisPointerType.Shadow,
    //        },
    //        textStyle: {
    //            fontFamily = "Iranian Sans",
    //        }
    //    },
    //    legend: {
    //        data: [ "جنگل", "کوهستان", "کویر", "دشت" ],
    //        textStyle: {
    //            fontFamily = "Iranian Sans",
    //        }
    //    },
    //    yAxis: {
    //        type: 'value',
    //    },
    //    xAxis: {
    //        type: 'category',
    //        boundaryGap: false,
    //        data: ["2012", "2013", "2014", "2015", "2016"]
    //    },
    //    series: [
    //        {
    //            name: 'جنگل',
    //            type: 'bar',
    //            label: {
    //                show: true,
    //                position = 'insideBottom',
    //                align : 'center',
    //                rotate: 90,
    //                textStyle: {
    //                    fontFamily = "Iranian Sans",
    //                }
    //            },
    //            data: [320, 332, 301, 334, 390],
    //        },
    //        {
    //            name: 'کوهستان',
    //            type: 'bar',
    //            label: {
    //                show: true,
    //                position = 'insideBottom',
    //                align : 'center',
    //                rotate: 90,
    //                textStyle: {
    //                    fontFamily = "Iranian Sans",
    //                }
    //            },
    //            data: [220, 182, 191, 234, 290],
    //        },
    //        {
    //            name: 'کویر',
    //            type: 'bar',
    //            label: {
    //                show: true,
    //                position = 'insideBottom',
    //                align : 'center',
    //                rotate: 90,
    //                textStyle: {
    //                    fontFamily = "Iranian Sans",
    //                }
    //            },
    //            data: [150, 232, 201, 154, 190],
    //        },
    //        {
    //            name: 'دشت',
    //            type: 'bar',
    //            label: {
    //                show: true,
    //                position = 'insideBottom',
    //                align : 'center',
    //                rotate: 90,
    //                textStyle: {
    //                    fontFamily = "Iranian Sans",
    //                }
    //            },
    //            data: [98, 77, 101, 99, 40],
    //        },

    //    ]
    // };

}
